/projects/Crawler/target/
/projects/Crawler/project/target/
/projects/Crawler/project/project/
/projects/Crawler/.idea/

/projects/SparkApp/target/
/projects/SparkApp/project/target/
/projects/SparkApp/project/project/
/projects/SparkApp/.idea/

/projects/PySparkApp/.idea/
/projects/PySparkApp/Pipfile.lock
/projects/PySparkApp/PySparkApp.iml
/projects/PySparkApp/jobs.zip

/hadoop-logs/
/hadoop-config/*
!/hadoop-config/hadoop-config.json

/ssh_hbase/*
/hbase-config/*
!/hbase-config/hbase-config.json
!/hbase-config/hbase-env.sh

/zookeeper-config/*
!/zookeeper-config/zoo.cfg

/kafka-config/*
!/kafka-config/kafka.json
!/kafka-config/log4j.properties
!/kafka-config/tools-log4j.properties
