/projects/Crawler/target/
/projects/Crawler/project/
/projects/Crawler/.idea/

/projects/SparkApp/target/
/projects/SparkApp/project/
/projects/SparkApp/.idea/

/hadoop-logs/
/hadoop-config/*
!/hadoop-config/hadoop-config.json

/ssh_hbase/*
/hbase-config/*
!/hbase-config/hbase-config.json
!/hbase-config/hbase-env.sh

/zookeeper-config/*
!/zookeeper-config/zoo.cfg